<div class="container">
  <h1>Password Generator</h1>
  <div>Enter Length</div>
  <input type="number" name="" id="" [(ngModel)]="passowordLength" />
  <div>
    <input type="checkbox" (change)="changealpahbetChekbox()" />
    <label>Use Alphabets</label>
  </div>
  <div>
    <input type="checkbox" (change)="changespecialCharacterCheckbox()" />
    <label>Use SpecialCharacter</label>
  </div>
  <div>
    <input type="checkbox" (change)="changenumberCheckbox()" />
    <label>Use Number</label>
  </div>
  <div><button (click)="generatePassword()">Generate</button></div>

  <h3>Your Password</h3>
  <div>{{ password }}</div>
  <div>{{ alpahbetChekbox }}</div>
  <div>{{ specialCharacterCheckbox }}</div>
  <div>{{ numberCheckbox }}</div>
</div>
